# Ignore specific files/directories under linux/.config/
linux/.config/abrt
linux/.config/akonadi
linux/.config/akonadi_contacts_resource_0rc
linux/.config/akonadi-firstrunrc
linux/.config/akonadi_ical_resource_0rc
linux/.config/akonadi_indexing_agentrc
linux/.config/akonadi_maildir_resource_0rc
linux/.config/baloofilerc
linux/.config/bluedevilglobalrc
linux/.config/dconf
linux/.config/dolphinrc
linux/.config/emaildefaults
linux/.config/emailidentities
linux/.config/gtk-3.0
linux/.config/gtk-4.0
linux/.config/gtkrc
linux/.config/gtkrc-2.0
linux/.config/ibus
linux/.config/imsettings
linux/.config/kactivitymanagerdrc
linux/.config/kactivitymanagerd-statsrc
linux/.config/kalendaracrc
linux/.config/kconf_updaterc
linux/.config/KDE
linux/.config/kdeconnect
linux/.config/kded5rc
linux/.config/kdedefaults
linux/.config/kdeglobals
linux/.config/kde.org
linux/.config/kglobalshortcutsrc
linux/.config/knfsshare
linux/.config/konsolerc
linux/.config/ktimezonedrc
linux/.config/kwinoutputconfig.json
linux/.config/kwinrc
linux/.config/libaccounts-glib
linux/.config/PlasmaDiscoverUpdates
linux/.config/plasma-localerc
linux/.config/plasma-org.kde.plasma.desktop-appletsrc
linux/.config/plasmashellrc
linux/.config/plasma-welcomerc
linux/.config/powermanagementprofilesrc
linux/.config/pulse
linux/.config/specialmailcollectionsrc
linux/.config/Trolltech.conf
linux/.config/Unknown\ Organization
linux/.config/user-dirs.dirs
linux/.config/user-dirs.locale
linux/.config/xsettingsd

