[include]
    path = ~/.config/.gitconfig/.gitconfig-ebdruplab

[includeIf "gitdir:~/git/work/"]
    path = ~/.config/private-dotfiles/.gitconfig/.gitconfig-work

[includeIf "gitdir:~/git/ebdruplab/"]
    path = ~/.config/private-dotfiles/.gitconfig/.gitconfig-ebdruplab

